* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#itemDisplay-container {
  display: flex;
  flex-wrap: wrap;
}

.product-display {
  width: 33%;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 10px 0px;
}

#display {
  margin: 10px 50px;
  padding: 20px;
}

#display:hover {
  border: 2px solid #535bf2;
}

img {
  width: 15rem;
  height: 18rem;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  margin: 10px;
  font-size: 18px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #535bf2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: azure;
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 50px;
}

@media (max-width: 500px) {
  #itemDisplayContainer {
    flex: none;
  }
}
